#include "afxres.h"


NORMALBLUE_INI TEXTFILE MOVEABLE PURE  "res\\Styles\\Office2010BlueSkin\\NormalBlue.ini"
BLUE_FRAMECAPTION_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\FrameCaption.png"
BLUE_FRAMECAPTIONSIZING_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\FrameCaptionSizing.png"
BLUE_SMALLFRAMECAPTION_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\SmallFrameCaption.png"
BLUE_FRAMELEFT_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\FrameLeft.png"
BLUE_FRAMERIGHT_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\FrameRight.png"
BLUE_FRAMEBOTTOM_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\FrameBottom.png"
BLUE_CAPTIONCLOSEBUTTON_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\CaptionCloseButton.png"
BLUE_CLOSEGLYPH17_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\CloseGlyph17.png"
BLUE_CAPTIONBUTTON_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\CaptionButton.png"
BLUE_MAXIMIZEGLYPH17_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\MaximizeGlyph17.png"
BLUE_RESTOREGLYPH17_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\RestoreGlyph17.png"
BLUE_MINIMIZEGLYPH17_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\MinimizeGlyph17.png"
BLUE_HELPGLYPH17_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\HelpGlyph17.png"
BLUE_MDIGLYPHMINIMIZE_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\MDIGlyphMinimize.png"
BLUE_MDICAPTIONBUTTON_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\MDICaptionButton.png"
BLUE_MDIGLYPHRESTORE_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\MDIGlyphRestore.png"
BLUE_MDIGLYPHCLOSE_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\MDIGlyphClose.png"
BLUE_BUTTON_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\Button.png"
BLUE_CHECKBOX13_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\CheckBox13.png"
BLUE_RADIOBUTTON13_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\RadioButton13.png"
BLUE_GROUPBOX_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\GroupBox.png"
BLUE_TOOLBARBACKGROUND_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ToolbarBackground.png"
BLUE_TOOLBARGRIPPER_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ToolbarGripper.png"
BLUE_TOOLBARGRIPPERVERT_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ToolbarGripperVert.png"
BLUE_TOOLBARBUTTONS_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ToolbarButtons.png"
BLUE_SEPARATOR_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\Separator.png"
BLUE_SEPARATORVERT_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\SeparatorVert.png"
BLUE_TOOLBARBUTTONSSPLIT_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ToolbarButtonsSplit.png"
BLUE_TOOLBARBUTTONSSPLITDROPDOWN_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ToolbarButtonsSplitDropdown.png"
BLUE_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ToolbarButtonsSplitDropdownGlyph.png"
BLUE_STATUSBACKGROUND_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\StatusBackground.png"
BLUE_STATUSPANE_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\StatusPane.png"
BLUE_RESIZEGRIP2_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ResizeGrip2.png"
BLUE_LISTVIEWHEADERBACKGROUND_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ListviewHeaderBackground.png"
BLUE_LISTVIEWHEADER_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ListViewHeader.png"
BLUE_PROGRESSTRACK_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ProgressTrack.png"
BLUE_PROGRESSCHUNK_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ProgressChunk.png"
BLUE_PROGRESSTRACKVERT_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ProgressTrackVert.png"
BLUE_PROGRESSCHUNKVERT_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ProgressChunkVert.png"
BLUE_TABPANEEDGE_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TabPaneEdge.png"
BLUE_TABITEMTOP_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TabItemTop.png"
BLUE_TABITEMTOPLEFT_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TabItemTopLeft.png"
BLUE_TABBACKGROUND_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TabBackground.png"
BLUE_TRACKBARHORIZONTAL_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TrackbarHorizontal.png"
BLUE_TRACKBARUP13_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TrackBarUp13.png"
BLUE_TRACKBARDOWN13_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TrackBarDown13.png"
BLUE_TRACKBARVERTICAL_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TrackbarVertical.png"
BLUE_TRACKBARLEFT13_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TrackBarLeft13.png"
BLUE_TRACKBARRIGHT13_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TrackbarRight13.png"
BLUE_SLIDERTRACK_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\sliderTrack.png"
BLUE_TREEEXPANDCOLLAPSE_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\TreeExpandCollapse.png"
BLUE_SPINBUTTONBACKGROUNDUP_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\SpinButtonBackgroundUp.png"
BLUE_SPINUPGLYPH_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\SpinUpGlyph.png"
BLUE_SPINBUTTONBACKGROUNDDOWN_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\SpinButtonBackgroundDown.png"
BLUE_SPINDOWNGLYPH_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\SpinDownGlyph.png"
BLUE_SPINBUTTONBACKGROUNDRIGHT_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\SpinButtonBackgroundRight.png"
BLUE_SPINRIGHTGLYPH_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\SpinRightGlyph.png"
BLUE_SPINBUTTONBACKGROUNDLEFT_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\SpinButtonBackgroundLeft.png"
BLUE_SPINLEFTGLYPH_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\SpinLeftGlyph.png"
BLUE_SCROLLARROWS_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ScrollArrows.png"
BLUE_SCROLLARROWGLYPHS_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ScrollArrowGlyphs.png"
BLUE_SCROLLTHUMBHORIZONTAL_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ScrollThumbHorizontal.png"
BLUE_SCROLLTHUMBGRIPPERHORIZONTAL_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ScrollThumbGripperHorizontal.png"
BLUE_SCROLLTHUMBVERTICAL_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ScrollThumbVertical.png"
BLUE_SCROLLTHUMBGRIPPERVERTICAL_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ScrollThumbGripperVertical.png"
BLUE_SCROLLSHAFTHORIZONTAL_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ScrollShaftHorizontal.png"
BLUE_SCROLLSHAFTVERTICAL_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ScrollShaftVertical.png"
BLUE_COMBOBUTTON_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ComboButton.png"
BLUE_COMBOBUTTONGLYPH_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\ComboButtonGlyph.png"
BLUE_POPUPBACKGROUND_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupBackground.png"
BLUE_POPUPBORDERS_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupBorders.png"
BLUE_POPUPGUTTER_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupGutter.png"
BLUE_POPUPSEPARATOR_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupSeparator.png"
BLUE_POPUPITEM_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupItem.png"
BLUE_POPUPCHECK_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupCheck.png"
BLUE_POPUPCHECKBACKGROUND_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupCheckBackground.png"
BLUE_POPUPSUBMENU_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupSubmenu.png"
BLUE_POPUPSYSTEMCLOSE_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupSystemClose.png"
BLUE_POPUPSYSTEMMAXIMIZE_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupSystemMaximize.png"
BLUE_POPUPSYSTEMMINIMIZE_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupSystemMinimize.png"
BLUE_POPUPSYSTEMRESTORE_PNG PNG MOVEABLE PURE "res\\Styles\\Office2010BlueSkin\\Blue\\PopupSystemRestore.png"



THEMES_INI TEXTFILE MOVEABLE PURE  "res\\Styles\\Office2010BlueSkin\\Themes.ini"


